# COLLECTIONS

Counter

In [ ]:
from collections import Counter

In [ ]:
my_list1 = [11,1,1,1,1,1,1,1,2,2,2,3,3,4,5,6,6,6,6,8,8,8,8,8,9,9]

Counter(my_list1)

In [ ]:
list_counter = Counter(my_list1)

In [ ]:
list_counter.most_common()

In [ ]:
list_counter.most_common(5)

In [ ]:
list_counter.most_common(2)

In [ ]:
Counter('aadassfscssdfhdshsdaincsncualnclasflasjdlaskfjoiejclancoapp')

In [ ]:
Counter('16912191954922231354884562')

In [ ]:
sentence_own = " Python is an interpreted, high-level and general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace"

In [40]:
sentence_own

" Python is an interpreted, high-level and general-purpose programming language. Created by Guido van Rossum and first released in 1991, Python's design philosophy emphasizes code readability with its notable use of significant whitespace"

In [41]:
sentence_own.split()

['Python',
 'is',
 'an',
 'interpreted,',
 'high-level',
 'and',
 'general-purpose',
 'programming',
 'language.',
 'Created',
 'by',
 'Guido',
 'van',
 'Rossum',
 'and',
 'first',
 'released',
 'in',
 '1991,',
 "Python's",
 'design',
 'philosophy',
 'emphasizes',
 'code',
 'readability',
 'with',
 'its',
 'notable',
 'use',
 'of',
 'significant',
 'whitespace']

In [42]:
l=[]
for i in sentence_own:
    l.append(i)

In [43]:
l

[' ',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 ' ',
 'i',
 's',
 ' ',
 'a',
 'n',
 ' ',
 'i',
 'n',
 't',
 'e',
 'r',
 'p',
 'r',
 'e',
 't',
 'e',
 'd',
 ',',
 ' ',
 'h',
 'i',
 'g',
 'h',
 '-',
 'l',
 'e',
 'v',
 'e',
 'l',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'g',
 'e',
 'n',
 'e',
 'r',
 'a',
 'l',
 '-',
 'p',
 'u',
 'r',
 'p',
 'o',
 's',
 'e',
 ' ',
 'p',
 'r',
 'o',
 'g',
 'r',
 'a',
 'm',
 'm',
 'i',
 'n',
 'g',
 ' ',
 'l',
 'a',
 'n',
 'g',
 'u',
 'a',
 'g',
 'e',
 '.',
 ' ',
 'C',
 'r',
 'e',
 'a',
 't',
 'e',
 'd',
 ' ',
 'b',
 'y',
 ' ',
 'G',
 'u',
 'i',
 'd',
 'o',
 ' ',
 'v',
 'a',
 'n',
 ' ',
 'R',
 'o',
 's',
 's',
 'u',
 'm',
 ' ',
 'a',
 'n',
 'd',
 ' ',
 'f',
 'i',
 'r',
 's',
 't',
 ' ',
 'r',
 'e',
 'l',
 'e',
 'a',
 's',
 'e',
 'd',
 ' ',
 'i',
 'n',
 ' ',
 '1',
 '9',
 '9',
 '1',
 ',',
 ' ',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 "'",
 's',
 ' ',
 'd',
 'e',
 's',
 'i',
 'g',
 'n',
 ' ',
 'p',
 'h',
 'i',
 'l',
 'o',
 's',
 'o',
 'p',
 'h',
 'y',
 ' ',
 'e',
 'm',
 'p',
 'h',
 'a',
 's',
 'i',
 'z',
 'e',
 's',
 ' ',
 'c',
 'o',
 'd',
 'e',
 ' ',
 'r',
 'e',
 'a',
 'd',
 'a',
 'b',
 'i',
 'l',
 'i',
 't',
 'y',
 ' ',
 'w',
 'i',
 't',
 'h',
 ' ',
 'i',
 't',
 's',
 ' ',
 'n',
 'o',
 't',
 'a',
 'b',
 'l',
 'e',
 ' ',
 'u',
 's',
 'e',
 ' ',
 'o',
 'f',
 ' ',
 's',
 'i',
 'g',
 'n',
 'i',
 'f',
 'i',
 'c',
 'a',
 'n',
 't',
 ' ',
 'w',
 'h',
 'i',
 't',
 'e',
 's',
 'p',
 'a',
 'c',
 'e']

In [44]:
Counter(l)

Counter({' ': 32,
         'P': 2,
         'y': 5,
         't': 12,
         'h': 9,
         'o': 11,
         'n': 15,
         'i': 18,
         's': 15,
         'a': 16,
         'e': 23,
         'r': 10,
         'p': 8,
         'd': 9,
         ',': 2,
         'g': 8,
         '-': 2,
         'l': 8,
         'v': 2,
         'u': 5,
         'm': 4,
         '.': 1,
         'C': 1,
         'b': 3,
         'G': 1,
         'R': 1,
         'f': 3,
         '1': 2,
         '9': 2,
         "'": 1,
         'z': 1,
         'c': 3,
         'w': 2})

In [45]:
examp = sentence_own.split()

Counter(examp)

Counter({'Python': 1,
         'is': 1,
         'an': 1,
         'interpreted,': 1,
         'high-level': 1,
         'and': 2,
         'general-purpose': 1,
         'programming': 1,
         'language.': 1,
         'Created': 1,
         'by': 1,
         'Guido': 1,
         'van': 1,
         'Rossum': 1,
         'first': 1,
         'released': 1,
         'in': 1,
         '1991,': 1,
         "Python's": 1,
         'design': 1,
         'philosophy': 1,
         'emphasizes': 1,
         'code': 1,
         'readability': 1,
         'with': 1,
         'its': 1,
         'notable': 1,
         'use': 1,
         'of': 1,
         'significant': 1,
         'whitespace': 1})

In [46]:
p=[]
for k in sentence_own:
    if k ==' ':
        pass
    else:
        p.append(k)

In [47]:
p

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 'i',
 's',
 'a',
 'n',
 'i',
 'n',
 't',
 'e',
 'r',
 'p',
 'r',
 'e',
 't',
 'e',
 'd',
 ',',
 'h',
 'i',
 'g',
 'h',
 '-',
 'l',
 'e',
 'v',
 'e',
 'l',
 'a',
 'n',
 'd',
 'g',
 'e',
 'n',
 'e',
 'r',
 'a',
 'l',
 '-',
 'p',
 'u',
 'r',
 'p',
 'o',
 's',
 'e',
 'p',
 'r',
 'o',
 'g',
 'r',
 'a',
 'm',
 'm',
 'i',
 'n',
 'g',
 'l',
 'a',
 'n',
 'g',
 'u',
 'a',
 'g',
 'e',
 '.',
 'C',
 'r',
 'e',
 'a',
 't',
 'e',
 'd',
 'b',
 'y',
 'G',
 'u',
 'i',
 'd',
 'o',
 'v',
 'a',
 'n',
 'R',
 'o',
 's',
 's',
 'u',
 'm',
 'a',
 'n',
 'd',
 'f',
 'i',
 'r',
 's',
 't',
 'r',
 'e',
 'l',
 'e',
 'a',
 's',
 'e',
 'd',
 'i',
 'n',
 '1',
 '9',
 '9',
 '1',
 ',',
 'P',
 'y',
 't',
 'h',
 'o',
 'n',
 "'",
 's',
 'd',
 'e',
 's',
 'i',
 'g',
 'n',
 'p',
 'h',
 'i',
 'l',
 'o',
 's',
 'o',
 'p',
 'h',
 'y',
 'e',
 'm',
 'p',
 'h',
 'a',
 's',
 'i',
 'z',
 'e',
 's',
 'c',
 'o',
 'd',
 'e',
 'r',
 'e',
 'a',
 'd',
 'a',
 'b',
 'i',
 'l',
 'i',
 't',
 'y',
 'w',
 'i',
 't',
 'h',
 'i',
 't',
 's',
 'n',
 'o',
 't',
 'a',
 'b',
 'l',
 'e',
 'u',
 's',
 'e',
 'o',
 'f',
 's',
 'i',
 'g',
 'n',
 'i',
 'f',
 'i',
 'c',
 'a',
 'n',
 't',
 'w',
 'h',
 'i',
 't',
 'e',
 's',
 'p',
 'a',
 'c',
 'e']

In [48]:
Counter(p)

Counter({'P': 2,
         'y': 5,
         't': 12,
         'h': 9,
         'o': 11,
         'n': 15,
         'i': 18,
         's': 15,
         'a': 16,
         'e': 23,
         'r': 10,
         'p': 8,
         'd': 9,
         ',': 2,
         'g': 8,
         '-': 2,
         'l': 8,
         'v': 2,
         'u': 5,
         'm': 4,
         '.': 1,
         'C': 1,
         'b': 3,
         'G': 1,
         'R': 1,
         'f': 3,
         '1': 2,
         '9': 2,
         "'": 1,
         'z': 1,
         'c': 3,
         'w': 2})

In [63]:
k1 = Counter(p)

In [64]:
k1.most_common(3)

[('e', 23), ('i', 18), ('a', 16)]

In [55]:
set(k1)

{"'",
 ',',
 '-',
 '.',
 '1',
 '9',
 'C',
 'G',
 'P',
 'R',
 'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'l',
 'm',
 'n',
 'o',
 'p',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'y',
 'z'}

In [57]:
dict(k1)

{'P': 2,
 'y': 5,
 't': 12,
 'h': 9,
 'o': 11,
 'n': 15,
 'i': 18,
 's': 15,
 'a': 16,
 'e': 23,
 'r': 10,
 'p': 8,
 'd': 9,
 ',': 2,
 'g': 8,
 '-': 2,
 'l': 8,
 'v': 2,
 'u': 5,
 'm': 4,
 '.': 1,
 'C': 1,
 'b': 3,
 'G': 1,
 'R': 1,
 'f': 3,
 '1': 2,
 '9': 2,
 "'": 1,
 'z': 1,
 'c': 3,
 'w': 2}

In [58]:
k1

Counter({'P': 2,
         'y': 5,
         't': 12,
         'h': 9,
         'o': 11,
         'n': 15,
         'i': 18,
         's': 15,
         'a': 16,
         'e': 23,
         'r': 10,
         'p': 8,
         'd': 9,
         ',': 2,
         'g': 8,
         '-': 2,
         'l': 8,
         'v': 2,
         'u': 5,
         'm': 4,
         '.': 1,
         'C': 1,
         'b': 3,
         'G': 1,
         'R': 1,
         'f': 3,
         '1': 2,
         '9': 2,
         "'": 1,
         'z': 1,
         'c': 3,
         'w': 2})

In [59]:
k1['p']

8

In [60]:
k1.items()

dict_items([('P', 2), ('y', 5), ('t', 12), ('h', 9), ('o', 11), ('n', 15), ('i', 18), ('s', 15), ('a', 16), ('e', 23), ('r', 10), ('p', 8), ('d', 9), (',', 2), ('g', 8), ('-', 2), ('l', 8), ('v', 2), ('u', 5), ('m', 4), ('.', 1), ('C', 1), ('b', 3), ('G', 1), ('R', 1), ('f', 3), ('1', 2), ('9', 2), ("'", 1), ('z', 1), ('c', 3), ('w', 2)])

In [61]:
k1.clear()

In [65]:
k1

Counter({'P': 2,
         'y': 5,
         't': 12,
         'h': 9,
         'o': 11,
         'n': 15,
         'i': 18,
         's': 15,
         'a': 16,
         'e': 23,
         'r': 10,
         'p': 8,
         'd': 9,
         ',': 2,
         'g': 8,
         '-': 2,
         'l': 8,
         'v': 2,
         'u': 5,
         'm': 4,
         '.': 1,
         'C': 1,
         'b': 3,
         'G': 1,
         'R': 1,
         'f': 3,
         '1': 2,
         '9': 2,
         "'": 1,
         'z': 1,
         'c': 3,
         'w': 2})

In [66]:
list(k1)

['P',
 'y',
 't',
 'h',
 'o',
 'n',
 'i',
 's',
 'a',
 'e',
 'r',
 'p',
 'd',
 ',',
 'g',
 '-',
 'l',
 'v',
 'u',
 'm',
 '.',
 'C',
 'b',
 'G',
 'R',
 'f',
 '1',
 '9',
 "'",
 'z',
 'c',
 'w']

In [69]:
sum(k1.values())

205

DEFAULTDICT

In [70]:
from collections import defaultdict

In [73]:
dic1 = {}

In [74]:
dic1['one']

KeyError: 'one'

In [75]:
dic1 = defaultdict(object)

In [78]:
dic1['one']

In [79]:
dic1

defaultdict(object, {'one': <object at 0x27858a9aa70>})

In [82]:
for i in dic1:
    print(i)

one
TWO

In [81]:
dic1["TWO"]

In [83]:
d = defaultdict(lambda :0)

In [84]:
d["Wrong"]

0

In [85]:
d

defaultdict(<function __main__.<lambda>()>, {'Wrong': 0})

In [86]:
d["This is not good"]

0

In [87]:
d

defaultdict(<function __main__.<lambda>()>,
            {'Wrong': 0, 'This is not good': 0})

In [88]:
for x in d:
    print(x)

Wrong
This is not good

NAMEDTUPLE

In [89]:
tup = (1,2,3,4,5,6,7,8,9,11,15)

In [90]:
tup

(1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 15)

In [91]:
tup[:5]

(1, 2, 3, 4, 5)

In [93]:
tup[-5]

7

In [94]:
from collections import namedtuple

In [102]:
Person = namedtuple('Person',['Age','Gender','name'])

In [103]:
exam1 = Person(Age= 21,Gender='Male',name ="GOVIND GS")

In [104]:
exam1

Person(Age=21, Gender='Male', name='GOVIND GS')

In [105]:
exam1.Age

21

In [106]:
exam1.name

'GOVIND GS'

In [107]:
exam1[2]

'GOVIND GS'

In [110]:
exam1[1]

'Male'

## OS FILES AND OPERATIONS

In [111]:
pwd

'C:\\Users\\saamy\\Desktop\\Python'

In [112]:
import os

In [115]:
os.getcwd()

'C:\\Users\\saamy\\Desktop\\Python'

In [116]:
os.listdir()

['.ipynb_checkpoints',
 'Additional Types.ipynb',
 'Advanced python modules.ipynb',
 'Complete-Python-3-Bootcamp-master',
 'Decorators And Generators Practice .ipynb',
 'Example1',
 'Example1.py',
 'FirstNotebook.ipynb',
 'Fullstrech.ipynb',
 'Milestone Project Practice.ipynb',
 'My_practices.ipynb',
 'OPP And ERROR & Exception.ipynb',
 'Practice of milestone project 2.ipynb',
 'practicee milestone project.ipynb',
 'Proper milestone 2 .ipynb',
 'Proper.ipynb',
 'sampletext.text',
 'TIKTOK game rating for my code.txt',
 'TIKTOK.py',
 'TikTokToe.ipynb',
 'try.py',
 'W3 Practices.ipynb']

In [117]:
import shutil

In [119]:
shutil.copy('sampletext.text','C:\\Users\\saamy\\Desktop')

'C:\\Users\\saamy\\Desktop\\sampletext.text'

In [120]:
file_path = 'C:\\Users\\saamy\\Desktop\\Python\\Complete-Python-3-Bootcamp-master\\Complete-Python-3-Bootcamp-master\\12-Advanced Python Modules\\Example_Top_Level'

In [121]:
for folder , sub_folders , files in os.walk(file_path):
    
    print("Currently looking at folder: "+ folder)
    print('\n')
    print("THE SUBFOLDERS ARE: ")
    for sub_fold in sub_folders:
        print("\t Subfolder: "+sub_fold )
    
    print('\n')
    
    print("THE FILES ARE: ")
    for f in files:
        print("\t File: "+f)
    print('\n')
    
    # Now look at subfolders

Currently looking at folder: C:\Users\saamy\Desktop\Python\Complete-Python-3-Bootcamp-master\Complete-Python-3-Bootcamp-master\12-Advanced Python Modules\Example_Top_Level


THE SUBFOLDERS ARE:
	 Subfolder: Mid-Example-One


THE FILES ARE:
	 File: Mid-Example.txt


Currently looking at folder: C:\Users\saamy\Desktop\Python\Complete-Python-3-Bootcamp-master\Complete-Python-3-Bootcamp-master\12-Advanced Python Modules\Example_Top_Level\Mid-Example-One


THE SUBFOLDERS ARE:
	 Subfolder: Bottom-Level-One
	 Subfolder: Bottom-Level-Two


THE FILES ARE:
	 File: Mid-Level-Doc.txt


Currently looking at folder: C:\Users\saamy\Desktop\Python\Complete-Python-3-Bootcamp-master\Complete-Python-3-Bootcamp-master\12-Advanced Python Modules\Example_Top_Level\Mid-Example-One\Bottom-Level-One


THE SUBFOLDERS ARE:


THE FILES ARE:
	 File: One_Text.txt


Currently looking at folder: C:\Users\saamy\Desktop\Python\Complete-Python-3-Bootcamp-master\Complete-Python-3-Bootcamp-master\12-Advanced Python Modules\Example_Top_Level\Mid-Example-One\Bottom-Level-Two


THE SUBFOLDERS ARE:


THE FILES ARE:
	 File: Bottom-Text-Two.txt

## DATETIME

In [1]:
import datetime

In [3]:
datetime.time(7,58,45)

datetime.time(7, 58, 45)

In [4]:
time1 = datetime.time(7,58,45)

In [5]:
print(time1)

07:58:45

In [6]:
time1.hour

7

In [7]:
time1.minute

58

In [8]:
time1.microsecond

0

In [9]:
time1.isoformat()

'07:58:45'

In [16]:
print(datetime.time.max)

23:59:59.999999

In [17]:
print(datetime.time.min)

00:00:00

In [18]:
print(datetime.time.resolution)

0:00:00.000001

In [19]:
datetime.date.today()

datetime.date(2020, 9, 30)

In [24]:
today = datetime.date.today()

In [26]:
print(today)

2020-09-30

In [27]:
today.ctime()

'Wed Sep 30 00:00:00 2020'

In [28]:
today.timetuple()

time.struct_time(tm_year=2020, tm_mon=9, tm_mday=30, tm_hour=0, tm_min=0, tm_sec=0, tm_wday=2, tm_yday=274, tm_isdst=-1)

In [29]:
today.toordinal()

737698

In [36]:
day = datetime.date

In [37]:
day

datetime.date

In [38]:
print(day)

<class 'datetime.date'>

In [39]:
day.min

datetime.date(1, 1, 1)

In [40]:
print(day.max)

9999-12-31

In [42]:
print(day.min)

0001-01-01

In [43]:
print(day.resolution)

1 day, 0:00:00

In [44]:
date_1 = datetime.date(2020,9,30)

In [45]:
date_2 = datetime.date(2020,10,27)

In [46]:
date_1 - date_2

datetime.timedelta(days=-27)

In [48]:
date_3 = datetime.date(2020,9,30)

In [49]:
date_4 = datetime.date(2000,2,29)

In [55]:
print(date_3 - date_4)

7519 days, 0:00:00

In [56]:
date_3 - date_4

datetime.timedelta(days=7519)

In [60]:
from datetime import datetime

In [62]:
datetime.weekday()

TypeError: descriptor 'weekday' of 'datetime.date' object needs an argument

##  MATH AND RANDOM MODULE

In [67]:
import math

In [68]:
help(math)

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(x, /)
        Find x!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(x, y, /)
        greatest common divisor of x and y

    hypot(x, y, /)
        Return the Euclidean distance, sqrt(x*x + y*y).

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    pow(x, y, /)
        Return x**y (x to the power of y).

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [80]:
value1 =2.87

In [81]:
value2 = 3.14

In [82]:
math.floor(value1)

2

In [83]:
math.ceil(value1)

3

In [84]:
math.floor(value2)

3

In [85]:
math.ceil(value2)

4

In [86]:
round(value1)

3

In [87]:
round(value2)

3

In [89]:
pi

NameError: name 'pi' is not defined

In [90]:
math.pi

3.141592653589793

In [91]:
from math import pi

In [92]:
pi

3.141592653589793

In [93]:
math.e

2.718281828459045

In [95]:
math.tau

6.283185307179586

RANDOM

In [96]:
import random

In [102]:
x1 = random.randint(0,20)

In [103]:
print(x1)
print(x1)
print(x1)
print(x1)
print(x1)
print(x1)

6
6
6
6
6
6

In [105]:
random.randint(0,20)
random.randint(0,20)
random.randint(0,20)
random.randint(0,20)
random.randint(0,20)
random.randint(0,20)

13

In [107]:
random.seed(20)
random.randint(0,20)

4

In [108]:
random.randint(0,20)

8

In [109]:
random.randint(0,20)

20

In [110]:
random.randint(0,20)

3

In [114]:
random.seed(20)
print(random.randint(0,20))
print(random.randint(0,20))
print(random.randint(0,20))
print(random.randint(0,20))
print(random.randint(0,20))
print(random.randint(0,20))
print(random.randint(0,20))
print(random.randint(0,20))

4
8
20
3
10
18
5
0

In [115]:
print(random.randint(0,20))

13

In [116]:
print(random.randint(0,20))

13

In [117]:
print(random.randint(0,20))

2

In [118]:
print(random.randint(0,20))

3

In [119]:
random.randint(0,20)

4

In [120]:
random.randint(0,20)

10

In [121]:
random.randint(0,20)

15

In [122]:
random.randint(0,20)

18

In [123]:
random.randint(0,20)

14

In [128]:
my_list = list(range(0,70,5))

In [129]:
my_list

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65]

In [130]:
random.choice(my_list)

30

In [135]:
random.choices(population=my_list,k=6)

[15, 15, 55, 40, 0, 55]

In [136]:
random.sample(population=my_list,k=6)

[45, 20, 60, 10, 25, 35]

### DEBUGGER PDB BASICS

In [140]:
print("------")

------

## REGULAR EXPRESSIONS

In [6]:
text = "The Govind's phone number is 9944908595. Call soon!"

In [7]:
'person' in text

False

In [8]:
'Govind' in text

True

In [9]:
import re

In [10]:
name = 'Govind'

In [11]:
re.search(name,text)

In [12]:
name2 = 'Jose'

In [13]:
re.search(name2,text)

In [14]:
match_1 = re.search(name,text)

In [15]:
match_1.end()

10

In [16]:
match_1.start()

4

In [19]:
match_1.group()

'Govind'

In [20]:
match_1.span()

(4, 10)

In [21]:
text = """
Govind's phone number is 9944908595. Call soon!
also ,Govind's phone number is 1234567890
office number is 9988774455
number personal 45879123658

"""

In [22]:
re.search('phone',text)

In [25]:
match2 = re.findall('phone',text)

In [26]:
for t in match2:
    print(t.)

phone
phone

In [27]:
len(match2)

2

In [29]:
for k in re.findall('Govind',text):
    print(k.group())

AttributeError: 'str' object has no attribute 'group'

In [30]:
Number = re.search(r'\d\d\d\d\d\d\d\d\d\d',text)

In [32]:
Number

In [33]:
Match_3NUM = re.findall(r'\d{10}',text)

In [34]:
Match_3NUM

['9944908595', '1234567890', '9988774455', '4587912365']

In [37]:
for x in Match_3NUM:
    print(x)

9944908595
1234567890
9988774455
4587912365