### VERY EASY

In [1]:
def calc_age(n):
    return n*365

In [2]:
calc_age(65)

23725

In [3]:
def corn(n):
    return n*5

In [4]:
corn(5)

25

In [5]:
def addition(x,y):
    return x+y

In [6]:
addition(-3,-6)

-9

In [7]:
def convert(n):
    return n*60

In [8]:
convert(3)

180

In [9]:
def addition(n):
    return n+1

In [10]:
addition(-9)

-8

In [11]:
def circuit_power(n,x):
    return n*x

In [12]:
circuit_power(230,10)

2300

In [13]:
def tri_area(b,h):
    return (b*h)/2

In [14]:
tri_area(3,2)

3.0

In [15]:
tri_area(10,10)

50.0

In [16]:
def how_many_seconds(n):
    return n*60*60

In [17]:
how_many_seconds(24)

86400

In [18]:
def next_edge(s1,s2):
    return (s1+s2) -1

In [19]:
next_edge(5,7)

11

In [20]:
def remainder(x1,x2):
    return x1%x2

In [21]:
remainder(5,5)

0

In [22]:
remainder(7,2)

1

In [23]:
def string_int(str):
    return int(str)

In [24]:
string_int('112')

112

In [25]:
def find_perimeter(l,h):
    return 2*(l+h)

In [26]:
find_perimeter(20,10)

60

In [27]:
def give_me_something(str):
    return 'something '+ str

In [28]:
give_me_something('GOVINDSAMY GS')

'something GOVINDSAMY GS'

In [29]:
give_me_something('something')

'something something'

In [30]:
def calculate_exponent(bn,en):
    return bn**en

In [31]:
calculate_exponent(5,5)

3125

In [32]:
calculate_exponent(3,3)

27

In [33]:
def squared(n):
    return n**2

In [34]:
squared(9)

81

In [35]:
def get_first_value(list):
    return list[0]

In [36]:
get_first_value([-500,568,45])

-500

In [37]:
def animals(chicken,cows,pigs):
    return chicken*2+cows*4+pigs*4

In [38]:
animals(2,3,5)

36

In [39]:
animals(5, 2, 8)

50

In [40]:
def to_int(str):
    return int(str)

def to_str(int):
    return str(int)

In [41]:
to_int('12324')

12324

In [42]:
to_str(54542)

'54542'

### EASY

In [43]:
def stutter(str):
    return str[:2]+'...'+str[:2]+'...'+str+'?'

In [44]:
stutter('incredible')

'in...in...incredible?'

In [45]:
stutter('enthusiastic')

'en...en...enthusiastic?'

In [46]:
def is_curzon(n):
    first = 1 +2**n
    second = 1 + 2*n
    if first % second == 0:
        return True
    else:
        return False

In [47]:
is_curzon(5)

True

In [48]:
is_curzon(10)

False

In [49]:
def relation_to_luke(str):
    if str == 'Darth Vader':
        return "luke, i am your father"
    elif str == 'Leia':
        return "Luke, I am your sister"
    elif str == 'Han':
        return "Luke, I am your brother in law"
    elif str =='R2D2':
        return 'Luke, I am your Droid'
    else:
        return 'No relation'

In [50]:
relation_to_luke('Darth Vader')

'luke, i am your father'

In [51]:
relation_to_luke("Leia")

'Luke, I am your sister'

In [52]:
relation_to_luke('Govind')

'No relation'

In [53]:
def factorial(n):#improveit
    fact = 1
    if n == 0:
        return 1
    else:
        for i in range(1,n+1):
            fact = fact*i   
    return fact

In [54]:
factorial(5)

120

In [55]:
factorial(9)

362880

In [56]:
factorial(0)

1

In [57]:
def triange_dots(n):#gotformula from resources n(n+1)/2
    x = n*(n+1)/2
    return x

In [58]:
triange_dots(215)

23220.0

In [59]:
triange_dots(5)

15.0

In [60]:
def probability(list,num):#perc + round value
    sumn = 0
    for i in list:
        if i >= num:
            sumn +=1        
    x = sumn * 100 / len(list)
    return str(round(x))+'%'

In [61]:
probability([5,1,8,9],6)

'50%'

In [62]:
probability([4, 6, 2, 9, 15, 18, 8, 2, 10, 8], 6)

'70%'

In [63]:
probability([7, 4, 17, 14, 12, 3], 16)

'17%'

In [64]:
def counterpartCharcode(*letter):
    if letter== 'A':
        return 65
    else:
        return 97

In [65]:
counterpartCharcode('A')

97

In [66]:
def counterpartCharcode(*letter):
    print(letter)
    x = letter * 2
    print(x)
    for i in letter:
        print(type(i))

In [67]:
counterpartCharcode(12,'GOv')

(12, 'GOv')
(12, 'GOv', 12, 'GOv')
<class 'int'>
<class 'str'>

In [68]:
import string

In [69]:
string.ascii_letters

'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [70]:
string.ascii_uppercase

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [71]:
def counterpartCharCode(str):#proper answer
    return ord(str)

In [72]:
counterpartCharCode('P')

80

In [73]:
def reverseas(arg):
    if type(arg)== bool:
        if arg:
            return False
        else:
            return True
    else:
        return 'boolean expected'

In [74]:
reverseas(0)

'boolean expected'

In [75]:
reverseas(None)

'boolean expected'

In [76]:
reverseas(False)

True

In [77]:
reverseas(True)

False

In [78]:
def count_vowels(str):
    count = 0
    for x in str:
        if x in ['a','e','i','o','u']:
            count += 1
    return count

In [79]:
count_vowels("Celebration")

5

In [80]:
count_vowels("Palm")

1

In [81]:
count_vowels("Govindasamy Gs")

4

In [82]:
def name_shuffle(a):
    x = a.split()
    x = reversed(x)
    return ' '.join(x)

In [83]:
name_shuffle('Donald Trump')

'Trump Donald'

In [84]:
name_shuffle("Rosie O'Donnell")

"O'Donnell Rosie"

In [85]:
name_shuffle('Govindasamy Gs')

'Gs Govindasamy'

In [86]:
def sum_numbers(n):
    sums = 0
    for i in range(n+1):
        sums += i
    return sums

In [87]:
sum_numbers(3)

6

In [88]:
sum_numbers(12)

78

In [89]:
from math import pi

In [90]:
def cone_volume(h,r):#refered google for formula
    return pi * (r**2) * h/3

In [91]:
cone_volume(3, 2)

12.566370614359172

In [92]:
cone_volume(15, 6)

565.4866776461628

In [93]:
def missing_num(liv):# this one costs me time 
    for v in range(1,11):
        if v not in liv:
            return v
        else:
            pass

In [94]:
missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10])

5

In [95]:
missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8])

10

In [96]:
missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9])

7

In [97]:
def count_characters(lst):#took me a day with pressure and next day i solved it easily don't know how!!!
    count = 0
    for x in lst:
        for y in x:
            count += 1
    return count

In [98]:
count_characters([
  "###",
  "###",
  "###"
])

9

In [99]:
count_characters([
  "22222222",
  "22222222",
])

16

In [100]:
count_characters([
  "------------------"
])

18

In [101]:
count_characters([])

0

In [102]:
count_characters(["", ""])

0

In [103]:
count_characters(['GOVINDASAMY GS'])

14

In [104]:
def asc_des_none(lst,stri):
    if stri.lower() == 'asc':
        lst.sort()
        return lst
    elif stri.lower() == 'des':
        lst.sort(reverse = True)
        return lst
    else:
        return lst

In [105]:
list1 = [1,2,3,45,6,7]

In [106]:
list1.sort(reverse = True)

In [107]:
list1

[45, 7, 6, 3, 2, 1]

In [108]:
asc_des_none([4, 3, 2, 1], "Asc")

[1, 2, 3, 4]

In [109]:
asc_des_none([7, 8, 11, 66], "Des")

[66, 11, 8, 7]

In [110]:
asc_des_none([1, 22131, 3, 4], "None")

[1, 22131, 3, 4]

In [111]:
asc_des_none([313141, 4742,23423, 234244], "asc")

[4742, 23423, 234244, 313141]

In [112]:
def remove_abc(stringv):
    g = stringv.split()

In [113]:
remove_abc("This might be a bit hard")

In [114]:
' '.join(st1)

NameError: name 'st1' is not defined

In [115]:
st1 = 'GOVIND'

In [116]:
x1 = 'Govind'

In [117]:
for x in x1:
    if x.lower() in['a','v','c']:
        print('letter')
    else:
        print(''.join(x))

G
o
letter
i
n
d

In [118]:
k = x1[2]

In [119]:
x1.index(k)

2

In [120]:
x1.replace('v','g')

'Gogind'

In [121]:
x1.replace(2,'g')

TypeError: replace() argument 1 must be str, not int

In [122]:
x1.index('i')

3

In [123]:
def remove_abc(stringv):# needs some changes does not completed lost its offical page
    x1 = ''
    for x in stringv:
        print(x)
        if x.lower() == 'a' or 'b':
            x1 = stringv.replace(x,'')
        else:
            pass
    return x1

In [124]:
remove_abc("This might be a bit hard")

T
h
i
s

m
i
g
h
t

b
e

a

b
i
t

h
a
r
d

'This might be a bit har'

In [125]:
let = 'GovindGs'

In [126]:
let[2]

'v'

In [127]:
let[0]

'G'

In [128]:
list1 = ['Gov','Avc','Sf']

In [129]:
list1.sort(reverse=True)

In [130]:
list1

['Sf', 'Gov', 'Avc']

In [131]:
def get_student_names(dict):# this one was quite easy in keys
    l=[]
    for keyvalues in dict.values():
        l.append(keyvalues)
        l.sort()
    return l

In [132]:
get_student_names({
  "Student 1" : "Steve",
  "Student 2" : "Becky",
  "Student 3" : "John"
})

['Becky', 'John', 'Steve']

In [133]:
key1= {
  "Student 1" : "Steve",
  "Student 2" : "Becky",
  "Student 3" : "John"
}

In [134]:
print(key1)

{'Student 1': 'Steve', 'Student 2': 'Becky', 'Student 3': 'John'}

In [135]:
key1.values()

dict_values(['Steve', 'Becky', 'John'])

In [136]:
for i in key1.values():
    print(i)

Steve
Becky
John

In [137]:
def number_split(n):
    f1 = math.floor(n/2)
    f2 = math.ceil(n/2)
    return [f1,f2]

In [138]:
number_split(50)

NameError: name 'math' is not defined

In [139]:
number_split(11)

NameError: name 'math' is not defined

In [140]:
number_split(-9)

NameError: name 'math' is not defined

In [141]:
n = 60

In [142]:
n

60

In [143]:
11/2

5.5

In [144]:
import math

In [145]:
x2 = math.floor(65/2)

In [146]:
x1 = math.ceil(65/2)

In [147]:
x1,x2

(33, 32)

## NORMAL

In [148]:
def int_to_str(v):
    return str(v)
def str_to_int(v):
    return int(v)

In [149]:
int_to_str(4)

'4'

In [150]:
str_to_int("4")

4

In [151]:
int_to_str(29348)

'29348'

In [152]:
def dis(price,discount):
    return price - discount/100 * price

In [153]:
dis(1500, 50)

750.0

In [154]:
dis(89,20)

71.2

In [155]:
dis(100, 75)

25.0

In [156]:
def fizz_buzz(num):
    if num % 3 == 0 and num % 5 == 0:
        return "FIZZBUZZ"
    elif num % 5 == 0:
        return "BUZZ"
    elif num % 3 == 0:
        return "FIZZ"
    else:
        return num

In [157]:
fizz_buzz(3)

'FIZZ'

In [158]:
fizz_buzz(5)

'BUZZ'

In [159]:
fizz_buzz(15)

'FIZZBUZZ'

In [160]:
fizz_buzz(4)

4

In [161]:
fizz_buzz(45)

'FIZZBUZZ'

In [162]:
def square_areas_difference(n):
    return 2*(n**2)

In [163]:
square_areas_difference(5)

50

In [164]:
square_areas_difference(7)

98

In [165]:
def operation(v1,v2,code):
    v1 = int(v1)
    v2 = int(v2)
    if code.lower() == 'add':
        return str(v1 + v2)
    elif code.lower() == 'subtract':
        return str(v1 - v2)
    elif code.lower() == 'mul':
        return str(v1 * v2)
    elif code.lower() == 'divide':
        try :
            return str(v1 / v2)
        except ZeroDivisionError:
            return 'Undefined'
    elif code.lower() == 'mod':
        return str(v1 % v2)
    else:
        return 'Undefined'

In [166]:
operation("1", "2", "add" )

'3'

In [167]:
operation("4", "5", "subtract")

'-1'

In [168]:
operation("6", "3", "divide")

'2.0'

In [169]:
operation("6", "3", "MOD")

'0'

In [170]:
operation("6", "3", "21")

'Undefined'

In [171]:
operation("1", "0", "divide")

'Undefined'

In [172]:
#14 7 20
import math

In [173]:
def line_length(lst1,lis2):
    x1 = lst1[0]
    y1 = lst1[1]
    x2 = lis2[0]
    y2 = lis2[1]
    value1 = (x1-x2)**2
    value2 = (y1-y2)**2
    return round(math.sqrt(value1 + value2),3)

In [174]:
line_length([15, 7], [22, 11])

8.062

In [175]:
math.sqrt(9)

3.0

In [176]:
line_length([0, 0], [0, 0])

0.0

In [177]:
line_length([0, 0], [1, 1])

1.414

In [178]:
def line_length(lst1,lis2):
    x1 = lst1[0]
    y1 = lst1[1]
    x2 = lis2[0]
    y2 = lis2[1]
    return round(math.sqrt((x1-x2)**2 + (y1-y2)**2),3)

In [179]:
line_length([15, 7], [22, 11])

8.062

In [180]:
def format_date(date):
    month,date,year = date.split('/')
    return year+date+month

In [181]:
format_date("11/12/2019")

'20191211'

In [182]:
format_date("12/31/2019")

'20193112'

In [183]:
format_date("01/15/2019")

'20191501'

In [184]:
def profit(dict):
    pass

In [185]:
d = {
  "cost_price": 32.67,
  "sell_price": 45.00,
  "inventory": 1200
}

In [186]:
d.items()

dict_items([('cost_price', 32.67), ('sell_price', 45.0), ('inventory', 1200)])

In [187]:
d.values()

dict_values([32.67, 45.0, 1200])

In [188]:
d['cost_price']

32.67

In [189]:
d.get('cost_price')

32.67

In [190]:
x

'd'

In [191]:
def profit(dictv):
    cp = dictv.get('cost_price')
    sp = dictv.get('sell_price')
    inv = dictv.get('inventory')
    return (sp*inv) - (cp*inv)

In [192]:
profit({
  "cost_price": 32.67,
  "sell_price": 45.00,
  "inventory": 1200
})

14796.0

In [193]:
profit({
  "cost_price": 225.89,
  "sell_price": 550.00,
  "inventory": 100
})

32411.0

In [194]:
profit({
  "cost_price": 2.77,
  "sell_price": 7.95,
  "inventory": 8500
})

44030.0

In [195]:
txt = " alice15@gmail.com "
pattern = "\w\w\w\w\w"

re.findall(pattern, txt)

NameError: name 're' is not defined

In [196]:
import re

In [197]:
txt = " alice15@gmail.com "
pattern = "\w\w\w\w\w\w\w@\w\w\w\w\w.\w\w\w"

re.findall(pattern, txt)

['alice15@gmail.com']

In [198]:
txt = " alice15@gmail.com "
pattern = ".\w\w\w"

re.findall(pattern, txt)

[' ali', 'ce15', '@gma', '.com']

In [199]:
def list_of_multiples(n1,length):
    l=[]
    for i in range(1,length+1):
        l.append(n1*i)
    return l

In [200]:
list_of_multiples(7, 5)

[7, 14, 21, 28, 35]

In [201]:
list_of_multiples(12, 10)

[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

In [202]:
list_of_multiples(17, 6)

[17, 34, 51, 68, 85, 102]

In [203]:
class Calculator:
    def add(self,x1,x2):
        return x1+x2
    def subtract(self,x1,x2):
        return x1-x2
    def multiply(self,x1,x2):
        return x1*x2
    def divide(self,x1,x2):
        return x1/x2

In [204]:
calculator = Calculator()

In [205]:
calculator.add(10, 5)

15

In [206]:
calculator.subtract(10, 5)

5

In [207]:
calculator.multiply(10, 5)

50

In [208]:
calculator.divide(10, 5)

2.0

In [209]:
class Calculator1:
    def add(self,x1,x2):
        return x1 + x2

In [210]:
c = Calculator1()

In [211]:
c.add(5,6)

11

In [212]:
# 15 10 2020

In [213]:
adds1 = lambda n: n +1

In [214]:
adds1(3)

4

In [215]:
adds1(5.7)

6.7

In [216]:
adds10 = lambda n: n+10

In [217]:
adds10(44)

54

In [218]:
adds10(20)

30

In [219]:
def lines_are_parallel(lst1,lst2):#refered from w3 resources
    return lst1[0]/lst1[1] == lst2[0]/lst2[1]

In [220]:
lines_are_parallel([1, 2, 3], [1, 2, 4])

True

In [221]:
lines_are_parallel([2, 4, 1], [4, 2, 1])

False

In [222]:
lines_are_parallel([0, 1, 5], [0, 1, 5])

True

In [223]:
def time_saved(sp_lmt,avg_Sp,distance):
    time1 = distance/sp_lmt
    time2 = distance/avg_Sp
    print(time1*60)
    print(time2*60)
    print (time1*60 - time2*60)

In [224]:
time_saved(80, 90, 40)

30.0
26.666666666666664
3.3333333333333357

In [225]:
def time_saved(sp_lmt,avg_Sp,distance):
    return round((distance/sp_lmt)*60-(distance/avg_Sp)*60,2)

In [226]:
time_saved(80, 90, 40)

3.33

In [227]:
time_saved(80, 90, 4000)

333.33

In [228]:
time_saved(80, 100, 40 )

6.0

In [229]:
time_saved(80, 100, 10)

1.5

In [230]:
def multiply(lst1):
    l=[]
    for i in lst1:
        for x in range(1,len(lst1)+1):
            l.append(i)
    return l

In [231]:
multiply([4, 5])

[4, 4, 5, 5]

In [232]:

multiply(["*", "%", "$"])

['*', '*', '*', '%', '%', '%', '$', '$', '$']

In [233]:
multiply(["A", "B", "C", "D", "E"])

['A',
 'A',
 'A',
 'A',
 'A',
 'B',
 'B',
 'B',
 'B',
 'B',
 'C',
 'C',
 'C',
 'C',
 'C',
 'D',
 'D',
 'D',
 'D',
 'D',
 'E',
 'E',
 'E',
 'E',
 'E']

In [234]:
len([4,5])

2

In [235]:
list1 =[1,2,3,4,5]

In [236]:
len(list1)

5

In [237]:
k=[]

In [238]:
for i in range(2):
    k.append('h')

In [239]:
k

['h', 'h']

In [240]:
def multiply(lst1):#Took me a time more to identify the solution!!!
    k=[]
    for i in lst1:
        l=[]
        for x in range(1,len(lst1)+1):
            l.append(i)
        k.append(l)
    return k

In [241]:
multiply([4, 5])

[[4, 4], [5, 5]]

In [242]:
multiply(["*", "%", "$"])

[['*', '*', '*'], ['%', '%', '%'], ['$', '$', '$']]

In [243]:
multiply(["A", "B", "C", "D", "E"])

[['A', 'A', 'A', 'A', 'A'],
 ['B', 'B', 'B', 'B', 'B'],
 ['C', 'C', 'C', 'C', 'C'],
 ['D', 'D', 'D', 'D', 'D'],
 ['E', 'E', 'E', 'E', 'E']]

In [244]:
# 17 10 2020

In [245]:
class ones_threes_nines:
    def __init__(self,num):
        self.ones = num
        self.nines = num//9
        self.threes = num//3

In [246]:
9//2

4

In [247]:
10/2

5.0

In [248]:
10//3

3

In [249]:
n1 = ones_threes_nines(5)

In [250]:
n1.nines

0

In [251]:
n1.ones

5

In [252]:
n1.threes

1

In [253]:
def neutralise(s1, s2):# searched from www
	ans = ''
	for i in range(len(s1)):
		if s1[i] == s2[i]:
			ans += s1[i]
		else:
			ans += '0'
	return ans

In [254]:
neutralise("--++--", "++--++")

'000000'

In [255]:
neutralise("-+-+-+", "-+-+-+")

'-+-+-+'

In [256]:
neutralise("-++-", "-+-+")

'-+00'

In [257]:
which_is_larger = (lambda f: print('f') if f>g, lambda g: print('g')if g>f)

SyntaxError: invalid syntax (<ipython-input-257-1f19b807d0e5>, line 1)

In [258]:
f = lambda x : print('five') if x >5 else print('none')

In [259]:
f(6)

five

In [260]:
f(4)

none

In [261]:
which_is_larger = lambda f,g:"f" if f()>g() else "g" if f()<g() else "neither"

In [262]:
which_is_larger(lambda: 5, lambda: 10)

'g'

In [263]:
def which_is_larger(f, g):
	return 'f' if f() > g() else 'g' if g() > f() else 'neither'

In [264]:
which_is_larger(lambda: 5, lambda: 10)

'g'

In [265]:
x = g(lambda x: print 'f')

SyntaxError: invalid syntax (<ipython-input-265-8732290d48db>, line 1)

In [266]:
# 18 10 2020

In [267]:
def word_builder(list1,list2):
    value =''
    for i in list2:
        value += list1[list2[i]]
    return value

In [268]:
word_builder(["e", "t", "s", "t"], [3, 0, 2, 1])

'ttse'

In [269]:
word_builder(["g", "e", "o"], [1, 0, 2])

'geo'

In [270]:
list_range = [0,2,1,4,3]

In [271]:
l1 = ['g','v','o','n','i']

In [272]:
for i in list_range:
    ''.join((l1[list_range[i]]))

In [273]:
l1[list_range[3]]

'i'

In [274]:
l = ['GoD','KISS',"ME"]

In [275]:
l2 = [2,1,0]

In [276]:
''.join(l)

'GoDKISSME'

In [277]:
''.join(l.index('ME'))

TypeError: can only join an iterable

In [278]:
l.sort()

In [279]:
l

['GoD', 'KISS', 'ME']

In [280]:
l[0]

'GoD'

In [281]:
l[l2.index(1)]

'KISS'

In [282]:
word_builder(["g", "e", "o"], [1, 0, 2])

'geo'

In [283]:
list_range = [0,2,1,4,3]

In [284]:
l1 = ['g','v','o','n','i']

In [285]:
for i in list_range:
    x =''.join(l1.index(l2[i]))
    print(x)

ValueError: 2 is not in list

In [286]:
# 19 10 2020 mor

In [287]:
def word_builder(list1,list2):
    stri = ''
    for i in list2:
        x = (list1[list2[i]])
        stri += x
    return stri

In [288]:
word_builder(["e", "t", "s", "t"], [3, 0, 2, 1])

'ttse'

In [289]:
list1 = ['Gs','nd','go','vi']

In [290]:
list2 = [2,3,1,0]

In [291]:
sums ='' #solved mor but it took me a night to think
for i in range(len(list2)):
    print(i)
    print(list1[list2[i]])
    x = (list1[list2[i]])
    sums += x 
    print(sums)

0
go
go
1
vi
govi
2
nd
govind
3
Gs
govindGs

In [292]:
list1[list2[0]]

'go'

In [293]:
list1[2]

'go'

In [294]:
def word_builder_propr(list1,list2):
    stri = ''
    for i in range(len(list2)):
        x = (list1[list2[i]])
        stri += x
    return stri

In [295]:
word_builder_propr(["e", "t", "s", "t"], [3, 0, 2, 1])

'test'

In [296]:
word_builder_propr(["g", "e", "o"], [1, 0, 2])

'ego'

In [297]:
class player:
    
    def __init__(self,name,age,height,weight):
        self.name =name
        self.age = age
        self.height = height
        self.weight = weight
    
    def __str__(self):
        return 'Welocme to player window'
    
    def get_age(self):
        return f'{self.name} is age {self.age}'
    
    def get_height(self):
        return f'{self.name} is height {self.height}cm'
    
    def get_weight(self):
        return f'{self.name} is weighs {self.weight}kg'

In [298]:
p1 = player('Govind Gs',19,179,102)

In [299]:
print(p1)

Welocme to player window

In [300]:
p1.age

19

In [301]:
p1.get_age()

'Govind Gs is age 19'

In [302]:
p1.get_height()

'Govind Gs is height 179cm'

In [303]:
p1.get_weight()

'Govind Gs is weighs 102kg'

In [304]:
p1 = player("David Jones", 25, 175, 75)

In [305]:
p1.get_age()

'David Jones is age 25'

In [306]:
p1.get_weight()

'David Jones is weighs 75kg'

In [307]:
p1.get_height()

'David Jones is height 175cm'

In [308]:
#19 10 2020 nyt

In [309]:
class Employee:
    
    def __init__(self,first,last):
        self.first = first
        self.last = last
        
    def __str__(self):
        return 'WELCOME EVERYONE!!'

    def fullname(self):
        return f'{self.first} {self.last}'
    
    def email(self):
        self.f1 = self.first
        self.l1 = self.last
        return f'{self.f1.lower()}.{self.l1.lower()}@company.com'
    
    def firstname(self):
        return self.first

In [310]:
p1 = Employee('Govind', 'GS')

In [311]:
p1.email()

'govind.gs@company.com'

In [312]:
emp_1 = Employee("John", "Smith")
emp_2 = Employee("Mary",  "Sue")
emp_3 = Employee("Antony", "Walker")

In [313]:
emp_1.fullname()

'John Smith'

In [314]:
emp_2.email()

'mary.sue@company.com'

In [315]:
emp_3.firstname()

'Antony'

In [316]:
print(p1)

WELCOME EVERYONE!!

In [317]:
import re

In [318]:
txt = "242Edabit2345can3443be3254324addictive!"

In [319]:
re.findall("\d{3}\D{6}",txt)

['242Edabit', '324addict']

In [320]:
pattern = "\D{6}"

In [321]:
re.findall(pattern,txt)

['Edabit', 'addict']

In [322]:
" ".join(re.findall(pattern, txt))

'Edabit addict'

In [323]:
txt = "242Edabit2345can3443be3254324addictive!"

In [324]:
pattern = "\d{3}\D{6}\d{4}\D{3}\d{4}\D{2}\d{7}\D{10}"

In [325]:
" ".join(re.findall(pattern, txt))

'242Edabit2345can3443be3254324addictive!'

In [326]:
pattern2 = "\D{1,}"

In [327]:
" ".join(re.findall(pattern2, txt))

'Edabit can be addictive!'

In [328]:
add_suffix = lambda str :str +'ly'

In [329]:
add_ly = add_suffix

In [330]:
add_ly("hopeless")

'hopelessly'

In [331]:
add_ly("total")

'totally'

In [332]:
def add_suffix(word):
    return lambda str: str+word

In [333]:
add_ly = add_suffix("ly")

In [334]:
add_ly("hopeless")

'hopelessly'

In [335]:
add_less = add_suffix("less")

In [336]:
add_less("fear")

'fearless'

In [339]:
add_less("ruth")

'ruthless'

In [340]:
def return_unique(list1):
    value = []
    not_el =[]
    for i in list1:
        if i in value and i in not_el:
            value.pop(value.index(i)) 
        else:
            not_el.append(i)
            value.append(i)   
    return value

In [341]:
return_unique([1, 9, 8, 8, 7, 6, 1, 6])

[9, 7]

In [342]:
return_unique([9, 5, 6, 8, 7, 7, 1, 1, 1, 1, 1, 9, 8])

[5, 6, 1]

In [343]:
return_unique([5, 5, 2, 4, 4, 4, 9, 9, 9, 1])

[2, 4, 9, 1]

In [344]:
list1 = [1,2,3,4,5,6,7,8,9]

In [345]:
list1.pop()

9

In [346]:
list1.pop(2)

3

In [347]:
list1

[1, 2, 4, 5, 6, 7, 8]

In [348]:
list1.pop(5)

7

In [349]:
list1

[1, 2, 4, 5, 6, 8]

In [350]:
list1.pop(list1.index(4))

4

In [351]:
list1

[1, 2, 5, 6, 8]

In [352]:
return_unique([5, 5, 2, 4, 4, 4, 9, 9, 1])

[2, 4, 1]

In [353]:
return_unique([9, 5, 6, 8, 7, 7, 1, 1, 1, 1, 1, 9, 8])

[5, 6, 1]

In [354]:
list1.count(2)

1

In [355]:
def return_unique(list1):#most effective way took it from edabit
    return [i for i in list1 if list1.count(i)==1 ]

In [356]:
return_unique([9, 5, 6, 8, 7, 7, 1, 1, 1, 1, 1, 9, 8])

[5, 6]

In [357]:
def return_unique2(list1):#this one took me time
    v =[]
    for i in list1:
        if list1.count(i)==1:
            v.append(i)
    return v

In [358]:
return_unique2([9, 5, 6, 8, 7, 7, 1, 1, 1, 1, 1, 9, 8])

[5, 6]

In [359]:
def stupid_addition(n1,n2):
    if isinstance(n1,str) and isinstance(n2,str):
        return int(n1) +int(n2)
    elif isinstance(n1,int) and isinstance(n2,int):
        return str(n1) +str(n2)
    else:
        return 'none'

In [360]:
stupid_addition(1, 2)

'12'

In [361]:
stupid_addition("1", "2")

3

In [362]:
stupid_addition("1", 2)

'none'

In [363]:
def stupid_addition2(a,b):
    if type(a)==int and type(b) == int:
        return str(a) +str(b)
    elif type(a)==str and type(b) == str:
        return int(a) +int(b)
    else:
        return 'none'

In [364]:
stupid_addition2("1", 2)

'none'

In [365]:
stupid_addition2("1", "2")

3

# HARD

In [366]:
#20 or 21 10 2020

In [367]:
def direction(given_list):
    pattern = '\D{1,}'
    for i in given_list:
        x = re.findall(pattern,i)
        print(x)
        x

In [368]:
direction(["east", "EAST", "eastEAST"])

['east']
['EAST']
['eastEAST']

In [369]:
def directions(list1):
    for i in list1:
        for k in i:
            k.replace('e','w')
            k.replace('E','W')
            k.replace('A','E')
            k.replace('a','e')
    return list1

In [370]:
direction(["east", "EAST", "eastEAST"])

['east']
['EAST']
['eastEAST']

In [371]:
list1 =[1,2,34,5,9]

In [372]:
list1.insert(2,'west')

In [373]:
i ='Gov'

In [374]:
list1

[1, 2, 'west', 34, 5, 9]

In [375]:
x = i.replace('Gov','VIND')

In [376]:
i

'Gov'

In [377]:
x

'VIND'

In [378]:
import re

In [379]:
tex = 'east EAST E A S T e a s t'

In [380]:
pattern = '\D{1,}'

In [381]:
re.findall(pattern,tex)

['east EAST E A S T e a s t']

In [382]:
help(map)

Help on class map in module builtins:

class map(object)
 |  map(func, *iterables) --> map object
 |
 |  Make an iterator that computes the function using arguments from
 |  each of the iterables.  Stops when the shortest iterable is exhausted.
 |
 |  Methods defined here:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __next__(self, /)
 |      Implement next(self).
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

## BREAK

### 15 days gap after that tcs exam

REVISED A VAST TOPICS AND WORKED WITH EVERY PROGRAM AGAIN JUST ONCE AGAIN

In [383]:
print('Thalaivar')

Thalaivar

In [384]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [408]:
def is_prime(primes,num): #THE PRIME LIST CAN BE CHANGED IN FUTURE AND ABLE TO ADD UPTOOO MANY NUMS
    #LETS MAKE BINARY SEARCH
    left_intial = primes[0]
    right = primes[-1]
    Median_intial = primes[round(len(primes)/2)]
    #CONDITION
    if num == Median_intial:
        return 'Yes'
    elif num > Median_intial and num < right:
        leftR1 = primes[Median_intial]
        right = right
        MedianR1 = primes[round(len(primes[primes.index(Median_intial):])/2]

In [407]:
is_prime(primes,4)

2 97 41

In [418]:
len(primes[primes.index(41):])/2

6.5

In [386]:
len(primes)

25

In [395]:
round(len(primes)/2)

12

In [1]:
# 05-11-2020

def is_prime(primes,num): #THE PRIME LIST CAN BE CHANGED IN FUTURE AND ABLE TO ADD UPTOOO MANY NUMS
    #LETS MAKE BINARY SEARCH
    left_intial = primes[0]
    right = primes[-1]
    Median_intial = primes[round(len(primes)/2)]
    #CONDITION
    if num == Median_intial:
        return 'Yes'
    elif num > Median_intial and num < right:
        leftR1 = primes[Median_intial]
        right = right
        MedianR1 = primes[round(len(primes[primes.index(Median_intial):])/2]
        
        
 ## IT DID NOT WENT WELL

In [7]:
def is_prime1(p,n,l=0,r=None):
	r=len(p)-1
	while r>=l:
		m=l+(r-l)//2
		if p[m]==n:return'yes'
		elif p[m]>n:r=m-1 
		else:l=m+1
	return'no'

In [6]:
def is_prime2(primes, num, left=0, right=None):
	if right == None:
		right = len(primes) - 1

	if left > right:
		return "no"

	mid = left + (right - left) // 2
	if primes[mid] > num:
		return is_prime(primes, num, left, mid - 1)
	elif primes[mid] < num:
		return is_prime(primes, num, mid + 1, right)
	else:
		return "yes"

In [5]:
from math import floor

def is_prime3(primes, num, left=0, right=None):
	L = 0
	R = len(primes) - 1
	while L <= R:
		m = floor((L+R)/2)
		if primes[m] < num:
			L = m + 1
		elif primes[m] > num:
			R = m - 1
		else:
			return 'yes'
	return 'no'

In [8]:
primes = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [9]:
is_prime1(primes, 3)

'yes'

In [10]:
is_prime2(primes, 3)

'yes'

In [11]:
is_prime3(primes, 3)

'yes'

## BREAK AGAIN

In [1]:
# 11-11-2020

In [14]:
2400/6

400.0

In [15]:
164/6

27.333333333333332

In [20]:
945//6

157

In [21]:
945%6

3

In [22]:
164//6

27

In [23]:
164%6

2

In [46]:
def total_overs(n):
    f1 = n//6
    f2 = n%6
    print (f'{f1} overs and {f2} balls were bowled by the bowler')
    return f"{f1}.{f2}"

In [47]:
total_overs(164)

27 overs and 2 balls were bowled by the bowler

'27.2'

In [48]:
total_overs(945)

157 overs and 3 balls were bowled by the bowler

'157.3'

In [49]:
total_overs(2400)

400 overs and 0 balls were bowled by the bowler

'400.0'

In [50]:
def total_overs2(n):
    return n//6 + n%6/10

In [51]:
total_overs2(945)

157.3

In [52]:
945%6/10

0.3