In [1]:
dic={"key1":"Name","key2":"Welcome","key3":"To the Practice session"}

In [12]:
print(dic)

{'key1': 'Name', 'key2': 'Welcome', 'key3': 'To the Practice session'}

In [13]:
dic

{'key1': 'Name', 'key2': 'Welcome', 'key3': 'To the Practice session'}

In [14]:
Name="Govind"

In [15]:
dic

{'key1': 'Name', 'key2': 'Welcome', 'key3': 'To the Practice session'}

In [16]:
dic['key1']

'Name'

In [17]:
key1

NameError: name 'key1' is not defined

In [18]:
dic(key1)

NameError: name 'key1' is not defined

In [19]:
Dict={'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

In [20]:
Dict['key1']

123

In [21]:
pwd

'C:\\Users\\saamy\\Desktop\\Python'

In [22]:
%%writefile sampletext.text
hello world
this is a example program text file
this is gona be a file that gona be insterted

Overwriting sampletext.text

In [23]:
myfile = open('sampletext.text')

In [24]:
myfile.read()

'hello world\nthis is a example program text file\nthis is gona be a file that gona be insterted\n'

In [25]:
myfile.read()

''

In [26]:
myfile.seek(0)

0

In [27]:
myfile.read()

'hello world\nthis is a example program text file\nthis is gona be a file that gona be insterted\n'

In [28]:
myfile.readlines()

[]

In [29]:
myfile.seek(0)

0

In [30]:
myfile.readlines()

['hello world\n',
 'this is a example program text file\n',
 'this is gona be a file that gona be insterted\n']

In [31]:
myfile.close()

In [32]:
s = 'hello'

In [33]:
s[::-1]

'olleh'

In [34]:
[0]*4

[0, 0, 0, 0]

In [35]:
d = {'simple_key':'hello'}

In [36]:
d['simple_key']

'hello'

In [37]:
d={'k1':{'k2':'hello'}}

In [38]:
d['k1']['k2']

'hello'

In [39]:
d['k1']

{'k2': 'hello'}

In [40]:
g ={'k1':[{'nest_key':['this is deep',['hello']]}]}

In [41]:
g['k1']

[{'nest_key': ['this is deep', ['hello']]}]

In [42]:
o= {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [43]:
o['k1'][0]['nest_key'][1][0]

'hello'

In [44]:
v = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [45]:
v['k1'][1]

2

In [46]:
v['k1'][0]

1

In [47]:
v['k1'][2]

{'k2': ['this is tricky', {'tough': [1, 2, ['hello']]}]}

In [48]:
v['k1'][2]['k2']

['this is tricky', {'tough': [1, 2, ['hello']]}]

In [49]:
v['k1'][2]['k2'][0]

'this is tricky'

In [50]:
v['k1'][2]['k2'][1]

{'tough': [1, 2, ['hello']]}

In [51]:
v['k1'][2]['k2'][1]['tough']

[1, 2, ['hello']]

In [52]:
v['k1'][2]['k2'][1]['tough'][0]

1

In [53]:
v['k1'][2]['k2'][1]['tough'][2]

['hello']

In [54]:
v['k1'][2]['k2'][1]['tough'][1]

2

syntax for dir is dir={'key1':'value1','key2':'value'}

In [55]:
3.0==3

True

In [56]:
3==3.0

True

In [57]:
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

In [58]:
l_one[2][0] >= l_two[2]['k1']

False

In [59]:
if True:
    print('It was true!')

It was true!

In [60]:
x = False

if x:
    print('x was True!')
else:
    print('I will be printed in any case where x is not true')

I will be printed in any case where x is not true

In [61]:
person = 'bro'

if person == 'Sammy':
    print('Welcome Sammy!')
elif person =='bro':
    print('Welcome bro!')
else:
    print("Welcome, what's your name?")

Welcome bro!

In [62]:
loc = 'Bank'

if loc == 'Auto Shop':
    print('Welcome to the Auto Shop!')
elif loc == 'Bank':
    print('Welcome to the bank!')
else:
    print('Where are you?')

Welcome to the bank!

In [63]:
list1 = [1,2,3,4,5,6,7,8,9,10]

In [64]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [65]:
for num in list1:
print(num)

IndentationError: expected an indented block (<ipython-input-65-ee52933095d6>, line 2)

In [66]:
for num in list1:
    if num % 2 == 0:
        print(num)

2
4
6
8
10

In [67]:

for num in list1:
    if num % 2 == 0:
        print(num)
    else:
        print('Odd number',num)

Odd number 1
2
Odd number 3
4
Odd number 5
6
Odd number 7
8
Odd number 9
10

In [68]:
list_sum = 0 

for num in list1:
    list_sum = list_sum + num

print(list_sum)

55

In [69]:
list_sum = 0 

for num in list1:
    list_sum = list_sum + num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [70]:
list_sum = 0 

for num in list1:
    list_sum += num

print(list_sum)

55

In [71]:
list_sum = 0 

for num in list1:
    list_sum += num

    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [72]:
for letter in 'This is a string.':
    print(letter)

T
h
i
s

i
s

a

s
t
r
i
n
g
.

In [73]:
for letter in 'This is a string.':
print(letter)

IndentationError: expected an indented block (<ipython-input-73-8c1d165225cb>, line 2)

In [74]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [75]:
tup = (1,2,3,4,5)

for t in tup:
print(t)

IndentationError: expected an indented block (<ipython-input-75-112cdd1eb3c5>, line 4)

In [76]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [77]:
x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    
else:
    print('All Done!')

x is currently:  0
 x is still less than 10, adding 1 to x
x is currently:  1
 x is still less than 10, adding 1 to x
x is currently:  2
 x is still less than 10, adding 1 to x
x is currently:  3
 x is still less than 10, adding 1 to x
x is currently:  4
 x is still less than 10, adding 1 to x
x is currently:  5
 x is still less than 10, adding 1 to x
x is currently:  6
 x is still less than 10, adding 1 to x
x is currently:  7
 x is still less than 10, adding 1 to x
x is currently:  8
 x is still less than 10, adding 1 to x
x is currently:  9
 x is still less than 10, adding 1 to x
All Done!

In [78]:

x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('Breaking because x==3')
        break
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
Breaking because x==3

In [79]:

x = 0

while x < 10:
    print('x is currently: ',x)
    print(' x is still less than 10, adding 1 to x')
    x+=1
    if x==3:
        print('x==3')
    else:
        print('continuing...')
        continue

x is currently:  0
 x is still less than 10, adding 1 to x
continuing...
x is currently:  1
 x is still less than 10, adding 1 to x
continuing...
x is currently:  2
 x is still less than 10, adding 1 to x
x==3
x is currently:  3
 x is still less than 10, adding 1 to x
continuing...
x is currently:  4
 x is still less than 10, adding 1 to x
continuing...
x is currently:  5
 x is still less than 10, adding 1 to x
continuing...
x is currently:  6
 x is still less than 10, adding 1 to x
continuing...
x is currently:  7
 x is still less than 10, adding 1 to x
continuing...
x is currently:  8
 x is still less than 10, adding 1 to x
continuing...
x is currently:  9
 x is still less than 10, adding 1 to x
continuing...

In [80]:
while True:
    print("I'm stuck in an infinite loop!")
    break

I'm stuck in an infinite loop!

In [81]:
while True:
    print("I'm stuck in an infinite loop!")
    break

I'm stuck in an infinite loop!

USEFUL OPERATORS

In [82]:
range(0,11)

range(0, 11)

In [83]:
print(range(0,11))

range(0, 11)

In [84]:
for x in range(0,10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [85]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [55]:
for num in range(0,120,10):
    print(num)

0
10
20
30
40
50
60
70
80
90
100
110

In [87]:
for num in range(0,500,70):
    print(num)

0
70
140
210
280
350
420
490

In [88]:
number = num

In [89]:
print(number)

490

In [90]:
number[::-1]

TypeError: 'int' object is not subscriptable

In [91]:
reverse ="abcdefghiklmnop"

In [92]:
reverse[::-1]

'ponmlkihgfedcba'

In [93]:
reverse[:8]

'abcdefgh'

In [94]:
reverse[4::]

'efghiklmnop'

In [95]:
index = 0 
for words in "Govind Gs":
    print("At Index {} the letter is{}".format(index,words))
    index=index+1

At Index 0 the letter isG
At Index 1 the letter iso
At Index 2 the letter isv
At Index 3 the letter isi
At Index 4 the letter isn
At Index 5 the letter isd
At Index 6 the letter is
At Index 7 the letter isG
At Index 8 the letter iss

In [96]:
# Using enumerate

for i,letters in enumerate ("GOVIND GS"):
    print("At Index {} the letter is{}".format(i,letters))

At Index 0 the letter isG
At Index 1 the letter isO
At Index 2 the letter isV
At Index 3 the letter isI
At Index 4 the letter isN
At Index 5 the letter isD
At Index 6 the letter is
At Index 7 the letter isG
At Index 8 the letter isS

In [97]:
list(enumerate("Govindsamy"))

[(0, 'G'),
 (1, 'o'),
 (2, 'v'),
 (3, 'i'),
 (4, 'n'),
 (5, 'd'),
 (6, 's'),
 (7, 'a'),
 (8, 'm'),
 (9, 'y')]

In [98]:
list(enumerate("abcdef"))

[(0, 'a'), (1, 'b'), (2, 'c'), (3, 'd'), (4, 'e'), (5, 'f')]

In [99]:
list1 = [1,2,3,4,5,6]
list2 = ["g","o","v","i","n","d"]

In [100]:
zip(list1,list2)

In [101]:
print(zip)

<class 'zip'>

In [102]:
type(zip)

type

In [103]:
type(zip(list1))

zip

In [104]:
list(zip(list1,list2))

[(1, 'g'), (2, 'o'), (3, 'v'), (4, 'i'), (5, 'n'), (6, 'd')]

In [105]:
for a,b in zip(list1,list2):
    print('First item was {} and Second item was {}'.format(a,b))

First item was 1 and Second item was g
First item was 2 and Second item was o
First item was 3 and Second item was v
First item was 4 and Second item was i
First item was 5 and Second item was n
First item was 6 and Second item was d

In [106]:
G in list1

NameError: name 'G' is not defined

In [107]:
"G" in list2

False

In [108]:
'g' in list2

True

In [109]:
1 in list1

True

In [110]:
Thelist = list(range(0,100))

In [111]:
print(Thelist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [112]:
from random import shuffle

In [113]:
shuffle(Thelist)

In [114]:
print(Thelist)

[47, 68, 96, 16, 94, 55, 20, 26, 67, 11, 71, 38, 43, 49, 66, 44, 53, 58, 48, 14, 84, 59, 30, 7, 31, 22, 99, 63, 79, 45, 97, 42, 87, 39, 95, 57, 78, 51, 82, 2, 69, 50, 8, 81, 89, 98, 5, 36, 41, 28, 1, 64, 18, 75, 40, 61, 77, 74, 23, 35, 60, 93, 70, 10, 83, 88, 25, 4, 27, 0, 6, 76, 91, 12, 9, 29, 72, 15, 21, 17, 13, 85, 92, 52, 19, 34, 54, 62, 56, 65, 37, 3, 33, 86, 32, 24, 46, 73, 90, 80]

In [115]:
min(Thelist)

0

In [116]:
max(Thelist)

99

In [117]:
from random import randint

In [118]:
randint(0,2000)

1009

In [119]:
int(input())

ValueError: invalid literal for int() with base 10: ''

In [120]:
x = int(input("Enter your age : "))

if x < 18:
    print("Sorry!!,You cannot vote now because of Lack in age")
else:
    print("Welcome Candidate!! You are eligile for voting!")

Enter your age :

ValueError: invalid literal for int() with base 10: ''

In [121]:
x = int(input("Enter your age : "))

if x < 18:
    print("Sorry!!,You cannot vote now because of Lack in age")
else:
    print("Welcome Candidate!! You are eligile for voting!")

Enter your age :

ValueError: invalid literal for int() with base 10: ''

In [122]:
mylist=[x for x in "GOvind GS"]

In [123]:
mylist

['G', 'O', 'v', 'i', 'n', 'd', ' ', 'G', 'S']

In [124]:
numlist = [num**2 for num in (range(0,10))]

In [125]:
numlist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [126]:
numlist = [num for num in range(0,10) if num %2 ==0]

In [127]:
numlist

[0, 2, 4, 6, 8]

In [128]:
celsius = [0,10,55,40,30,33,38,42,28,24,18]

In [129]:
fahrenheit =[((9/5)*temp+32)for temp in celsius]

In [130]:
fahrenheit

[32.0,
 50.0,
 131.0,
 104.0,
 86.0,
 91.4,
 100.4,
 107.60000000000001,
 82.4,
 75.2,
 64.4]

In [131]:
first="Hello"
second="world"
print(first+second)

first=input("Please enter the name that should be displayed in first:")
second=input("Please enter the name that should be displayed in second:")
print(first + second)

Helloworld
Please enter the name that should be displayed in first:
Please enter the name that should be displayed in second:

In [132]:
s=input("Enter your name please:")
print("Welcome:",s)
print("We are really gud to see u")
      
s=input("Enter your name please:")
print("Welcome:",s,"We are really gud to see u")

Enter your name please:
Welcome:
We are really gud to see u
Enter your name please:
Welcome:  We are really gud to see u

In [133]:
first="Hello"
second="world"
print(first+second)

first=input("Please enter the name that should be displayed in first:")
second=input("Please enter the name that should be displayed in second:")
print(first + second)

Helloworld
Please enter the name that should be displayed in first:
Please enter the name that should be displayed in second:

In [136]:
num=int(input("Enter a number"))
if num>1:
    for i in range(2,num//2):
        if(num%i)==0:
            print(num,"is not a prime number")
            break;
        else:
            print(num,"is a prime number")
            break;

Enter a number20
20 is not a prime number

In [137]:
a=int(input("Enter a number "))
b=int(input("Enter a number "))
c=a+b
print("the value of C is:",c)

Enter a number 15
Enter a number 26
the value of C is: 41

In [138]:
i=0
while 1==1:
    print(i)
    i=i+1
    if i>=5:
        print("breaking")
        break
print("Finished")

0
1
2
3
4
breaking
Finished

In [139]:
i = 0
while True:
   i = i +1
   if i == 2:
      print("Skipping 2")
      continue
   if i == 5:
      print("Breaking")
      break
   print(i)

print("Finished")

1
Skipping 2
3
4
Breaking
Finished

In [140]:
#elif program to find age is valid or not
Age=int(input("Enter the age of Yours"))
if Age>=18:
    print("you are eligble for voting")
elif Age==17:
    print("try next year you can vote for next time!!")
else:
    print("your are not eligble candidate for voting!!")

Enter the age of Yours22
you are eligble for voting

In [141]:
number=int(input("Enter the length of the number"))
for i in range(1,number+1,2):
    print(i)

Enter the length of the number60
1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59

In [142]:
while True:
   print("Options:")
   print("Enter 'add' to add two numbers")
   print("Enter 'subtract' to subtract two numbers")
   print("Enter 'multiply' to multiply two numbers")
   print("Enter 'divide' to divide two numbers")
   print("Enter 'quit' to end the program")
   user_input = input(": ")

   if user_input == "quit":
        break
   elif user_input == "add":
        num1 = float(input("Enter a number: "))
        num2 = float(input("Enter another number: "))
        result = str(num1 + num2)
        print("The answer is " + result)
   elif user_input == "subtract":
        num1 = float(input("Enter a number: "))
        num2 = float(input("Enter another number: "))
        result = str(num1 - num2)
        print("The answer is " + result)
   elif user_input == "multiply":
        num1 = float(input("Enter a number: "))
        num2 = float(input("Enter another number: "))
        result = str(num1 * num2)
        print("The answer is " + result)
   elif user_input == "divide":
        num1 = float(input("Enter a number: "))
        num2 = float(input("Enter another number: "))
        result = str(num1 / num2)
        print("The answer is " + result)
   else:
        print("Unknown input")

Options:
Enter 'add' to add two numbers
Enter 'subtract' to subtract two numbers
Enter 'multiply' to multiply two numbers
Enter 'divide' to divide two numbers
Enter 'quit' to end the program
: quit

In [143]:
Name=int(input("Enter the name size"))
if Name>=5:
    print("The name is valid")
    print("Welcome")
if Name<5:
    print("The name is invalid")
    print("Please enter a valid name")

Enter the name size20
The name is valid
Welcome

In [144]:
>>> list_1=[1,2,3,4,5]
>>> list_2=[1,2,3,4,5]
>>> list_3=list_1+list_2
>>> print(list_3)
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [145]:
>>> list_1=[1,2,3,4,5]
>>> list_2=[1,2,3,4,5]
>>> list_3=list_1+list_2
>>> print(list_3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [146]:
>>> nums = [9, 8, 7, 6, 5]
>>> nums.append(4)
>>> nums.insert(2, 11)
>>> print(nums)
>>> print(len(nums))
>>> list.reverse(nums)
>>> print(nums)

[9, 8, 11, 7, 6, 5, 4]
7
[4, 5, 6, 7, 11, 8, 9]

In [147]:
nums = [9, 8, 7, 6, 5]

In [148]:
nums.append(4)

In [149]:
print(nums)

[9, 8, 7, 6, 5, 4]

In [150]:
nums.insert(2, 11)

In [151]:
print(len(nums))

7

In [152]:
print(nums)

[9, 8, 11, 7, 6, 5, 4]

In [153]:
list.reverse(nums)

In [154]:
print(nums)

[4, 5, 6, 7, 11, 8, 9]

In [155]:

def say_hello():
    print('hello')

In [156]:
say_hello()

hello

In [157]:
def greeting(name):
    print(f'Hello {name}')

In [158]:
greeting("Govind")

Hello Govind

In [159]:
def add_num(num1,num2):
    return num1+num2

In [160]:
add_num(20,9482133)

9482153

In [161]:
result = add_num(5655,2)

In [162]:
print(result)

5657

In [163]:

def print_result(a,b):
    print(a+b)

In [164]:
def return_result(a,b):
    return a+b

In [165]:
print_result(10,30)

40

In [166]:
return_result(10,30)

40

In [167]:
work_hours = [('Dev',100),('Sarnath',400),('Govind',800)]

In [168]:
def employee_check(work_hours):

    current_max = 0
    employee_of_month = ''
    
    for employee,hours in work_hours:
        if hours > current_max:
            current_max = hours
            employee_of_month = employee
        else:
            pass
    return (employee_of_month,current_max)

In [169]:
employee_check(work_hours)

('Govind', 800)

In [170]:
#Shuffle Game

In [171]:
from random import shuffle

In [172]:
mylist

['G', 'O', 'v', 'i', 'n', 'd', ' ', 'G', 'S']

In [173]:
mylist = [ "X","X","O"]

In [174]:
mylist

['X', 'X', 'O']

In [175]:
shuffle(mylist)

In [176]:
mylist

['X', 'X', 'O']

In [177]:
def shuffle_list(mylist):
    shuffle(mylist)
    
    return mylist

In [178]:
shuffle_list(mylist)

['X', 'O', 'X']

In [184]:
def player_guess():
    
    guess = ''
    
    while guess not in ['0','1','2']:
        guess = input("Hey!! Pick a Position That you Guess : 1 or 2 or 0")
       
    return int(guess)

In [185]:
player_guess()

Hey!! Pick a Position That you Guess : 1 or 2 or 00

0

In [186]:
def guess_check(mylist,guess):
    if mylist[guess] == 'O':
        print("Bravooo!!!, The Guess was Correct ")
        print(mylist)
    else:
        print("Whooops!!!, Your Guess was Wrong!!")
        print(mylist)

In [197]:
mylist = ['X', 'O', 'X']

mixed_list =shuffle_list(mylist)

guess = player_guess()

check = guess_check(mylist,guess)

Hey!! Pick a Position That you Guess : 1 or 2 or 01
Bravooo!!!, The Guess was Correct
['X', 'O', 'X']

In [1]:
lst = [1,2,3,4,5]

In [2]:
lst.append(7)

In [3]:
lst

[1, 2, 3, 4, 5, 7]

In [10]:
lst.count(1)

1

In [15]:
mylist = [1,2,3,4,5,6,7,8,9]

In [16]:
lst.extend(mylist)

In [17]:
lst

[1, 2, 3, 4, 5, 7, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
lst.reverse()

In [19]:
lst

[9, 8, 7, 6, 5, 4, 3, 2, 1, 7, 5, 4, 3, 2, 1]

In [20]:
lst.sort()

In [21]:
lst

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 7, 8, 9]

In [23]:
lst.pop()

9

In [24]:
lst

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 7, 8]

In [25]:
lst

[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 7, 7, 8]

In [31]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [32]:
lesser_of_two_evens(2,4)

2

In [33]:
lesser_of_two_evens(2,5)

5

In [67]:
def animal_cracker(x):
    y= x.split()
    print(y)
    if y[0][1].lower()==y[1][1].lower():
        return True
    else:
        return False

In [68]:
animal_cracker('lecelheaded ema')

['lecelheaded', 'ema']

False

In [1]:
animal_cracker('Crazy Kangaroo')

NameError: name 'animal_cracker' is not defined

In [71]:
def makes_twenty(a,b):
    if a == 20 or b== 20 or a+b==20 :
        return True
    else:
        return False

In [72]:
makes_twenty(20,10)

True

In [73]:
makes_twenty(12,8)

True

In [74]:
makes_twenty(4,5)

False

In [106]:
def old_macdonald(x for x in "oldmacdonald"):
    print(x)

SyntaxError: invalid syntax (<ipython-input-106-150707eafcd4>, line 1)

In [99]:
old_macdonald("govind")

NameError: name 'a' is not defined

In [102]:
kim = ["kolololo"]

In [103]:
kim

['kolololo']

slice(None, ['kolololo'], None)

In [2]:

def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [4]:
old_macdonald("govindgs")

'GovIndgs'

In [5]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [6]:
master_yoda(' i am home')

'home am i'

In [7]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [8]:
almost_there(95)

True

In [10]:
almost_there(150)

False

In [1]:
def myfunc(x):
    if x == True:
        return 'Hello'
    elif x == False:
        return 'Goodbye'

In [3]:
myfunc(True)

'Hello'

In [4]:
myfunc(False)

'Goodbye'

In [5]:
def myfunc(x,y,z):
    if z == True:
        return x
    else:
        return y

In [6]:
myfunc(True)

TypeError: myfunc() missing 2 required positional arguments: 'y' and 'z'

In [7]:
def is_even(n):
    if n%3 ==0:
        return True
    else:
        return False

In [8]:
is_even(20)

False

In [9]:
def is_greater(x,y):
    if x < y:
        return True
    else:
        return False

In [10]:
is_greater(20,30)

True

In [11]:
def is_greater(x,y):
    if x <= y:
        return False
    else:
        return True

In [12]:
is_greater(10,30)

False

In [8]:
def examp(*args):
    print(args)
    print("The Current Income i have is {}".format(args[0]))

In [10]:
examp(20000,30000,50000)

(20000, 30000, 50000)
The Current Income i have is 20000

In [11]:
def form(*args):
    for x in args:
        print(x)

In [12]:
form(10,20,30)

10
20
30

In [19]:
def examp1(**kwargs):
    print(kwargs)
    print("Okay!!! You have pressed a Keyword Having Attribute of Food {}".format(kwargs['food']))

In [20]:
examp1(game= 'ownloer',food='Egg')

{'game': 'ownloer', 'food': 'Egg'}
Okay!!! You have pressed a Keyword Having Attribute of Food Egg

In [29]:
def examp2(*args,**kwargs):
    print(args,kwargs)
    print('The {} Kg of rice are came from {}'.format(args,kwargs))

In [30]:
examp2(20,3,50,40,City = 'tanjore',city = 'Ayyampet',cIty = 'PSP')

(20, 3, 50, 40) {'City': 'tanjore', 'city': 'Ayyampet', 'cIty': 'PSP'}
The (20, 3, 50, 40) Kg of rice are came from {'City': 'tanjore', 'city': 'Ayyampet', 'cIty': 'PSP'}

In [ ]:
def tryex(*args,**kwargs):
    
    
    print('The Total {} Of Gold is Came From {}'.format(args,kwargs))

In [ ]:
tryex(10,30,50,90,City = 'Mumbai',city='tanjre',CIty =  'Ayyampet',CitY = 'PPP')

In [71]:
def myfunc(*args):
    l=[]
    for x in args:
        l.append(args)
print(l)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

In [70]:
myfunc(1,2,5,6,8,10,13,15,18)

In [32]:
t=(1,2,3,4,5,6)

In [40]:
t(range)

TypeError: 'tuple' object is not callable

In [50]:
def klmo(*args):
    for x in args:
        print(x)

In [51]:
klmo(1,2)

1
2

In [49]:
tup = (1,2,3,4,5)

for t in tup:
    print(t)

1
2
3
4
5

In [60]:
l=[]
for num in range(0,120,10):
    l.append(num)
print(l)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110]

0
10
20
30
40
50
60
70
80
90
100
110

In [85]:
o =[]
def myfunc(*args):
    for m in args:
        o.append(m)
    return o

In [86]:
myfunc(1,2)

[1, 2]

In [88]:
def myfunc(*args):
    out = []
    for num in args:
        if num%2==0:
            out.append(num)
    return out

In [89]:
def myfunc(x):
    op =[]
    for k in range(len(x)):
        if k %2 ==0:
            op.append(x[k].lower())
        else:
            op.append(x[k].upper())
    return ''.join(op)

In [90]:
myfunc('Govindasamy Gs')

'gOvInDaSaMy gS'

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 ==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)
    pass

In [2]:
lesser_of_two_evens(50,60)

50

In [3]:
lesser_of_two_evens(63,45)

63

In [6]:
def letter_check(text):
    word=text.split()
    print(word)
    
    first = word[0]
    second = word[1]
    
    return first[0] == second[0]

In [8]:
letter_check("Govind GSaamy")

['Govind', 'GSaamy']

True

In [11]:
letter_check("ice cream")

['ice', 'cream']

False

SIMILAR

In [15]:
def letter_checkex(text):
    word = text.lower().split()
    return word[0][0] == word[1][0]

In [16]:
letter_checkex("Govindasmy goiasdas")

True

In [18]:
letter_checkex('old Odhasd')

True

In [19]:
def makes_twenty(a,b):
    if a == 20 or b== 20 or a+b==20 :
        return True
    else:
        return False

In [20]:
makes_twenty(20,30)

True

Another example

In [23]:
def makes_twentyex(a,b):
    return (a+b) ==20 or a==20 or b ==20

In [24]:
makes_twentyex(20,30)

True

LEVEL 1 PROBLEMS

In [3]:
def old_macprob(name):
    first_letter = name[0]
    inbetween = name[1:3]
    fourth_letter = name[3]
    rest_letters = name[4:]
    
    return first_letter.upper() + inbetween + fourth_letter.upper() + rest_letters

In [4]:
old_macprob('iphonemac')

'IphOnemac'

SIMILAR

In [7]:
def old_macprobex(name):
    first_half =name[:3]
    second_half =name[3:]
    return first_half.capitalize() + second_half.capitalize()

In [8]:
old_macprobex('androidgoogle')

'AndRoidgoogle'

In [10]:
kido = ['a','b','g','v','c']

In [11]:
'  '.join(kido)

'a  b  g  v  c'

In [12]:
''.join(kido)

'abgvc'

In [15]:
def master_yoda(text):
    word=text.split()
    return word[::-1]

In [16]:
master_yoda('Govindd Gsa')

['Gsa', 'Govindd']

In [22]:
def master_yodaex(text):
    word=text.split()
    return ' '.join(word[::-1])

In [23]:
master_yodaex('asdadafd gfdgdgdg')

'gfdgdgdg asdadafd'

In [24]:
master_yodaex('Home am i')

'i am Home'

In [25]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [28]:
almost_there(189)

False

In [2]:
l=[]
for num in range(0,120):
    l.append(num)
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119]

In [10]:
def has_33(nums):
    for x in range(0,len(nums)-1):
        if nums[x]==3 and nums[x+1] ==3:
            return True
    return False

In [11]:
has_33([3,5,9,8,9,145,42,81,3,21,5455])

False

In [12]:
has_33([1, 3, 3])

True

In [13]:
has_33([1, 5, 3])

False

In [14]:
def has_33ex(num):
    for i in range(0,len(num)-1):
        if num[i:i+2]==[3,3]:
            return True
    return False

In [15]:
has_33([3,5,9,8,9,145,42,81,3,21,5455])

False

In [58]:
def paper_doll(text):
    mok =''
    for x in text:
        mok += x*3
    return mok

In [59]:
paper_doll('Govindaasat')

'GGGooovvviiinnndddaaaaaasssaaattt'

In [60]:
def paper_dollex(text):
    result =''
    for char in text:
        result += char*3
    return result

In [61]:
paper_dollex('govidnad')

'gggooovvviiidddnnnaaaddd'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [74]:
def blackjack(a,b,c):
    added =a+b+c
    if added <= 21:
        return added
    elif a==11 or b==11 or c==11 and added <=31:
        return added-10
    else:
        return "BUST"

In [75]:
blackjack(5,6,7)

18

In [76]:
blackjack(9,9,9)

'BUST'

In [77]:
blackjack(9,8,11)

18

In [78]:
blackjack(9,9,11)

19

In [79]:
blackjack(15,26,11)

'BUST'

SIMILAR

In [80]:
def blackjackex(a,b,c):
    if sum([a,b,c])<=21:
        return sum([a,b,c])
    elif 11 in [a,b,c] and sum([a,b,c])<=31:
        return sum([a,b,c])-10
    else:
        return "BUST"

In [83]:
blackjackex(9,9,11)

19

In [82]:
blackjackex(9,9,9)

'BUST'

In [132]:
def summer_69(arr):
    j = range(6,9)
    if 6 or 9 in arr:
        del j
        return sum(arr)
    else:
        return 0

In [133]:
summer_69([1,3,4,5,4,6])

23

In [93]:
mylist = [1,2,3,4,56,79,8,9,42]

In [98]:
if 2 and 3 in mylist:
    print("BUST")

BUST

In [89]:
56 in mylist

True

In [146]:
def summer_69(arr):
    if 6,7,8,9 in arr:
        return arr

SyntaxError: invalid syntax (<ipython-input-146-7b141668966f>, line 2)

In [147]:
summer_69([1,3,4,5,4,6,7,8,9])

In [151]:
def summer_69ex(arr):
    total = 0
    add = True
    
    for x in arr:
        while add:
            if x!=6:
                total += x
                break
            else:
                add = False
        while not add:
            if x!=9:
                break
            else:
                add = True
    return total

In [152]:
summer_69ex([9,8,6,5,4,4,3.1])

17

In [7]:
def spy_game(nums):
    value = [0,0,7,'over']
    
    for num in nums:
        if num==value[0]:
            value.pop(0)
    return len(value)==1

In [8]:
spy_game([1,3,4,5,0,43,5,6,0,7,6])

True

In [9]:
spy_game([1,3,4,5,0,0,7,6,0,6])

True

In [10]:
spy_game([1,3,4,5,0,7,6,0,6])

False

In [114]:
def prime_number(number):
    k=[]
    for x in range(2,number+1):
        if number>1:
            for i in range(2,x):
                if x % i ==0:
                    break
            else:
                k.append(x)
                print (x)
                print(k)
    
    return len(k)

In [115]:
prime_number(11)

2
[2]
3
[2, 3]
5
[2, 3, 5]
7
[2, 3, 5, 7]
11
[2, 3, 5, 7, 11]

5

In [48]:
lower = int(input("Enter lower range: "))  
upper = int(input("Enter upper range: "))  
  
for num in range(lower,upper + 1):  
   if num > 1:  
       for i in range(2,num):  
           if (num % i) == 0:  
               break  
       else:  
           print(num)

Enter lower range: 2
Enter upper range: 11
2
3
5
7
11

In [124]:
def prime_numberex(number):
    k=[]
    for x in range(2,number+1):
        if number>1:
            for i in range(2,x):
                if x % i ==0:
                    break
            else:
                k.append(x)
    print (k)
    return len(k)

In [128]:
prime_numberex(11)

[2, 3, 5, 7, 11]

5

In [129]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [127]:
count_primes(11)

[2, 3, 5, 7, 11]

5

In [130]:
def print_big(letter):
    patterns = {1:'  *  ',2:' * * ',3:'*   *',4:'*****',5:'**** ',6:'   * ',7:' *   ',8:'*   * ',9:'*    '}
    alphabet = {'A':[1,2,4,3,3],'B':[5,3,5,3,5],'C':[4,9,9,9,4],'D':[5,3,3,3,5],'E':[4,9,4,9,4]}
    for pattern in alphabet[letter.upper()]:
        print(patterns[pattern])

In [138]:
print_big('d')

****
*   *
*   *
*   *
****

In [134]:
print_big('b')

****
*   *
****
*   *
****

In [1]:
map

map

In [2]:
def square(num):
    return num**2

In [3]:
square(10)

100

In [4]:
num_list =[1,2,3,5,9,78,45,6,22,3,34]

In [38]:
def square_ex1(v):
    list_num=[]
    for item in v:
        
        x = item**2
        list_num.append(x)
        print(x)
    print(list_num)

In [39]:
square_ex1(num_list)

1
4
9
25
81
6084
2025
36
484
9
1156
[1, 4, 9, 25, 81, 6084, 2025, 36, 484, 9, 1156]

In [45]:
def square_ex1(v):
    list_num=[]
    for item in v:
        x = item**2
        list_num.append(x)
    return (list_num)

In [46]:
square_ex1(num_list)

[1, 4, 9, 25, 81, 6084, 2025, 36, 484, 9, 1156]

In [41]:
map

map

In [42]:
def square(num):
    return num**2

In [43]:
num_list =[1,2,3,5,9,78,45,6,22,3,34]

In [47]:
list(map(square,num_list))

[1, 4, 9, 25, 81, 6084, 2025, 36, 484, 9, 1156]

FILTER

In [48]:
def even_check(num):
    return num%2 ==0

In [49]:
even_check(14)

True

In [50]:
listr=[2,4,6,85,84,2,62,18,96,15,3,2,3]

In [65]:
def even_check1(num):
    l=[]
    for x in num:
        if x % 2==0:
            print(x)
            l.append(x)
        else:
            print('Odd number',x)
    return l

In [66]:
even_check1(listr)

2
4
6
Odd number 85
84
2
62
18
96
Odd number 15
Odd number 3
2
Odd number 3

[2, 4, 6, 84, 2, 62, 18, 96, 2]

In [67]:
#what filter does is

In [69]:
list(filter(even_check,listr))

[2, 4, 6, 84, 2, 62, 18, 96, 2]

In [78]:
j=[]
for x in filter(even_check,listr):
    print (x)
    j.append(x)
print(j)

2
4
6
84
2
62
18
96
2
[2, 4, 6, 84, 2, 62, 18, 96, 2]

LAMBDA

In [79]:
s = lambda num:num**2

In [80]:
s(5)

25

In [82]:
list(map(lambda num:num**2,num_list))

[1, 4, 9, 25, 81, 6084, 2025, 36, 484, 9, 1156]

In [83]:
list(filter(lambda x:x%2==0,listr))

[2, 4, 6, 84, 2, 62, 18, 96, 2]

HOMEWORK PROBLEMS

In [13]:
def vol(rad):
    if rad == 0:
        return 0
    else:
        return (4/3)*3.14*(rad**3)

In [16]:
vol(2)

33.49333333333333

In [30]:
def ran_check(num,low,high):
    if num in range(low,high):
        return f'{num} is in the Range of {low} and {high}'
    else:
        return f'{num} is not in Range of {low} and {high}'

In [31]:
ran_check(3,1,6)

'3 is in the Range of 1 and 6'

In [32]:
ran_check(1,4,6)

'1 is not in Range of 4 and 6'

In [33]:
def ran_check2(num,low,high):
    if num in range(low,high):
        return True
    else:
        return False

In [34]:
ran_check2(3,1,6)

True

In [35]:
ran_check2(1,4,6)

False

In [120]:
def up_and_low_Case(s):
    upper_count = 0
    lower_count = 0
    for x in s:
        if x.isupper():
            upper_count += 1
        elif x.islower():
            lower_count += 1
        else:
            pass
    print (f'The String is :: {s}\n')
    
    print (f'The Total no.of Uppercase in the string is {upper_count}\n')
    
    print (f'The Total no.of Lowercase in the string is {lower_count}')

In [122]:
up_and_low_Case('Hello Mr.Rogers , how aRe you this fine Tuesday?')

The String is :: Hello Mr.Rogers , how aRe you this fine Tuesday?

The Total no.of Uppercase in the string is 5

The Total no.of Lowercase in the string is 32

In [131]:
def uniqu_ele(lst):
    k=0
    for x in lst:
        if x == k:
            pass
        elif x !=k:
            print(x)
            k==x
        else: pass

In [132]:
uniqu_ele([0,1,1,2])

1
1
2

In [168]:
def uniqu_ele1(lst):
    l=[]
    for x in lst:
            if x in l:
                pass
            else:
                l.append(x)
    print(l)

In [169]:
uniqu_ele1([0,1,1,2,2,2,2,3])

[0, 1, 2, 3]

In [201]:
def mul(num):
    l=[]
    for x in num:
        print(x)
        l.append(x)
    
    return l

In [202]:
mul([5,2,3])

5
2
3

[5, 2, 3]

In [46]:
def mulp(nums):
    mup_val=1
    for x in nums:
        mup_val *= x
    return mup_val

In [47]:
mulp([5,2,3])

30

In [48]:
palindrome('hellh')

True

In [49]:
def palindrome1(s):
    
    s = s.replace(' ','') # This replaces all spaces ' ' with no space ''. (Fixes issues with strings that have spaces)
    return s == s[::-1]

In [50]:
palindrome1('hellh')

False

In [56]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    str1 = str1.replace(' ','')

In [57]:
ispangram("ahe quick brown fox jumps over the lazy dog")

False

In [58]:
import string

def ispangram(str1, alphabet=string.ascii_lowercase):
    alphabet = set(alphabet)
    str1 =str1.replace(' ','')
    str1 = str1.lower()
    str1 = set(str1)
    return str1==alphabet

In [59]:
ispangram("ahe quick brown fox jumps over the lazy dog")

True

In [60]:
ispangram("ahe quick brown fox jumps over the lazy do")

False

In [62]:
alphabet =string.ascii_lowercase

In [63]:
alphabet

'abcdefghijklmnopqrstuvwxyz'

In [64]:
a = set(alphabet)

In [66]:
a

{'a',
 'b',
 'c',
 'd',
 'e',
 'f',
 'g',
 'h',
 'i',
 'j',
 'k',
 'l',
 'm',
 'n',
 'o',
 'p',
 'q',
 'r',
 's',
 't',
 'u',
 'v',
 'w',
 'x',
 'y',
 'z'}

In [1]:
def user_choice_Check():
    
  
    
    while check.isdigit() == False: 
    
        user_choice = input("Enter a Value in range (0 to 10) : ")
        
        if user_choice.isdigit() == False:
            print("Sorry, That is not a dight!!!!")
        else:
            check.isdigit() == True
            
            
    
    return int(user_choice)

In [ ]:
user_choice_Check()

Enter a Value in range (0 to 10) : ll
Sorry, That is not a dight!!!!
Enter a Value in range (0 to 10) : 5

In [1]:
def user_choice_Check():
    user_choice = input("Enter a Value in range (0 to 10) : ")
    return int(user_choice)

In [2]:
user_choice_Check()

Enter a Value in range (0 to 10) : 5

5

In [1]:
def user_choice_Check():
    
    
    
    user_choice = int(input("Enter a Value in range (0 to 10) : "))
    
    if user_choice in range(0,10):
        return int(user_choice)
    else:
        print("Sorry, That dight is not with in the range of (0-10)!!!!")

In [2]:
user_choice_Check()

Enter a Value in range (0 to 10) : kk

ValueError: invalid literal for int() with base 10: 'kk'

In [29]:
def user_choice_Check():
    x = True
    while x == True:
        user_choice = input("Enter a Value in range (0 to 10) : ")
    
        if user_choice.isdigit() ==False:
            print('Hey!,That is not a dight!!!')
        
        elif int(user_choice) in range(0,10):
            x = False
            return int(user_choice)
        
        else:
            print("Sorry, That dight is not with in the range of (0-10)!!!!")

In [30]:
user_choice_Check()

Enter a Value in range (0 to 10) : 5

5

In [1]:
def fahrenheit(celsius):
    return (9/5)*celsius + 32
    
temps = [0, 22.5, 40, 100]

In [2]:
fahrenheit(60)

140.0

In [3]:
fahrenheit(100)

212.0

In [4]:
F_temps = map(fahrenheit, temps)

In [5]:
F_temps

In [7]:
for i in F_temps:
    print(i)

32.0
72.5
104.0
212.0

In [8]:
temps

[0, 22.5, 40, 100]

In [9]:
a = [6,12,3,14]
b = [8,69,17,8]
c = [90,16,51,22]

In [36]:
def x_y(x,y):
    f = map(x,y)
    print(f)

In [37]:
x_y(a,b)

<map object at 0x000001CB42B12208>

In [38]:
klo = map(lambda x,y:x+y,a,b)

In [39]:
for i in klo:
    print (i)

14
81
20
22

In [40]:
vik = x_y(a,c)

<map object at 0x000001CB42B081C8>

In [41]:
print(vik)

None

In [42]:
for i in vik:
    print(vik)

TypeError: 'NoneType' object is not iterable

In [43]:
x1 = [1,2,3]
x2 = [4,5,6]

In [53]:
f1 = map(x1,x2)

In [54]:
map

map

In [55]:
for i in map:
    print(i)

TypeError: 'type' object is not iterable

In [56]:
type(map)

type

In [57]:
type(x1)

list

In [58]:
f1

In [59]:
for i in f1:
    print(i)

TypeError: 'list' object is not callable